body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    background-color: rgb(14, 13, 13);
}

h1 {
    font-size: 40px;
}

.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.container button {
    margin-top: 20px;
    padding: 5px 0;
    background-color: rgb(3, 200, 3);
    font-weight: bold;
    font-size: large;
    color: white;
    border: none;
    border-radius: 5px;
}

.resposta-container {
    font-size: larger;
    text-align: center;
    display: none;
}
.bloco-senha {
    padding: 10px 0;
    font-size: medium;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(21, 20, 20);
    cursor: pointer;
}
